/*GENERAL RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #444;
}

nav {
  font-size: 20px;
  font-weight: 700;
  background-color: green;

  display: flex;
  justify-content: space-between; /*To push every item in one side!*/
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

/*We start always with link and then visited separately- hover and then active separately*/
.btn:link,
:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;

  display: inline-block; /*Default is inline - but in order to apply paddings, we have to change the display from inline to inline-block*/
  padding: 16px 32px; /*TOP-BOTTOM  LEFT-RIGHT*/
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0; /*TOP-BOTTOM  LEFT-RIGHT*/
  background-color: #f7f7f7;
  /*Instead of repeating the below statements, we can create a container class as a common class and use it whenever we need to center its content!*/
  /* margin: 0 auto;
  width: 1200px; */

  /*THIS BELOW METHOD THAT I USED ALREADY TO CENTER THE ITEMS, DOESN'T WORK HERE*/
  /* display: flex;
  justify-content: center; */
}

/*THIS IS THE COMMON CLASS TO CENTER THE CONTENT OF HEADER AND SECTION AND I HAVE TO ADD THIS CLASS TO THESE TWO PARTS IN HTML FILE => TAKE A LOOK AT THE HTML FILE PLEASE!*/
.container {
  /*NOTE: NOT ONLY WE NEED THE MARGIN AND AUTO, RATHER, WE NEED THE WIDTH TOO, OTHERWISE, IT WILL NOT WORK! TO MEMORIZE: WE NEED THESE THREE ITEMS TO CENTER THE CONTENS: MARGIN - AUTO - WIDTH*/
  margin: 0 auto;
  width: 1200px;
  background-color: red;
}

header {
  /* margin: 0 auto;
  width: 1200px; */

  /*THIS BELOW METHOD THAT I USED ALREADY TO CENTER THE ITEMS, DOESN'T WORK HERE*/
  /* display: flex;
  justify-content: center; */
}
